<!--
Coolers Link: https://coolors.co/d0efb1-b3d89c-9dc3c2-77a6b6-4d7298
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="styles/default.css" rel="stylesheet" type="text/css" >
	<script src="scripts/contact.js"></script>
	<title>Dixon OHair, 3135, Contact</title>

</head>

<body>
<header>
    <h1> Dysfunctional Ostrich INC </h1>
    <a href="images/ostrich(iStock.com).jpg">
    <img src="images/ostrich(iStock.com).jpg" width="100" height="100">
    </a>
</header>


</body>

</html>
